/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
   font-family: "Avenir";
   src: url('../fonts/Avenir-Medium.ttf') format("truetype");
   font-weight: normal;
}
@font-face {
   font-family: "Avenir";
   src: url('../fonts/Avenir-Heavy.ttf') format("truetype");
   font-weight: 700;
}
@font-face {
   font-family: "Avenir";
   src: url('../fonts/Avenir-Book.ttf') format("truetype");
   font-weight: 300;
}

/*Loading bar*/
#loading-bar .bar{
  position: relative;
}


/* Fonts style */
body { font-family: 'Chivo', sans-serif; }

section {
  padding: 20px 0px;
  min-height: 60%;
  padding-bottom: 30px;
}

.contrastSection {
  background-color: #1F998B;
  color: white;
}

hr {
  border: 1px solid #eee;
}

h1, h2, h3, h4 {
  font-family: 'Avenir';
}

h1 {
  font-size: 2em;
  font-weight: 300;
}

h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.375em;
}

h4 {
  font-size: 1.2em;
  text-transform: uppercase;
  line-height: 1.125em;
}

h5 {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.3em;
}

p {
  font-size: 14px;
  line-height: 1.5em;
}

ul li {
  font-weight: 300;
  font-size: 1em;
  line-height: 1.4em;
}

.profilepic {
  width:60px;
  height: auto;
  border-radius: 30px;
}

.profilename {
  text-transform: capitalize;
  margin-top: 5px;
}

.label {
  margin-right:3px;
}

.errorMsg {
  margin-top: 5px;
  font-style: italic;
  color: #888;
}

.sellerlist {
  background-color: #eee;
}

.hero {
  background-image: url('../img/homefaded.jpg');
  background-size: cover;
  background-position: center;
}

.hero #splash {
  width:100%;
  max-width: 800px;
}

.main-splash {
  background-color: #444;
  padding: 0;
  background-image: url('../img/homefaded.jpg');
  background-position: center;
  background-size: cover;
}

#giftcard {
  background-color: #fef0f1;
}

#howitworks .col-sm-3 {
  padding-bottom: 10px;
}

.icons-lg {
  width: 120px;
}

.search-bar {
  padding: 20px 0px;
  background-color: rgba(230, 230, 230, 0.8);
}

.search-bar hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.jumbotron {
  display: table-cell;
  background: none;
  padding: 20px 0px;
  margin-bottom: 0;
  position: relative;
  vertical-align: middle;
}

.jumbotron h1 {
  font-size: 2.8em;
  line-height: 1em;
  letter-spacing: -2px;
}

.jumbotron p {
  font-weight: 400;
  line-height: 1em;
}

.navbar {
  margin-bottom: 0;
  background-color: #fff;
  border: 0;
}

.navbar ul li {
  font-weight: 400;
}

.navbar-form .form-group {
  vertical-align: top;
}
.navbar-toggle .icon-bar {
  background-color: #777;
}

.nav>li>a {
  padding: 16px;
}

.accent {
  color: #1e988a;
}

#howItWorks{
  color:#fff;
  font-weight: 700;
}

#howItWorks img {
  max-width:120px;
  width:100%;
}

#whatButlerDo {
}

.valueProp {
  margin-top: 20px;
  margin-bottom: 30px;
}
.valueProp img {
  max-width:120px;
  width:100%;
  margin-bottom: 30px;
}

.input-group-addon {
  background: none;
}

#logo {
  display: inline;
  /*font-family: 'Playfair Display', Georgia, serif;*/
  font-weight: 700;
  font-size: 24px;
  margin-top: 12px;
  margin-left: 15px;
  width: 110px;
}

.navbar-toggle {
  border: 1px solid #eee;
  margin-right: 10px;
}


/* Hosts and Guests section */
#hostsAndGuests img {
  width: 100%;
}

#app {
  overflow-y: hidden;
}

.confirm-box {
  padding: 10px;
  border: 9px solid #ddd;
}

.why-pay a{
  text-decoration: underline;
}

#app iframe {
  display: block;
  overflow: hidden;
  border: none;
  width:100%;
  height:100vh;
}

.menu {
  float:right;
}


.value ul {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
}

.value ul li {
  font-weight: 400;
  font-size: 12px;
  margin-top: 3px;
}

.packages {
}

.packages ul {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.packages ul li {
  font-weight: 400;
  font-size: 14px;
  margin-top: 2px;
}

.additionalService {
  color: #777;
}


#whyUs img {
  width:80%;
  max-width: 80px;
  padding-top: 30px;
}

#whyUs .row div {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
}

#pricing {
  background-color: #7dafa8;
  color:#fff;
}

.quote {
  font-style:italic;
  color:#555;
}

#testimonials {
}

#testimonials .lucasTan {
  width: 240px;
	height: 240px;
  border-radius: 120px;
	-webkit-border-radius: 120px;
	-moz-border-radius: 120px;
  background-image: url('../img/lucastan.jpg');
  background-size: cover;
  background-position: center;

}

#redirect img {
  width: 90%;
  max-width: 300px;
}

#butlerService img {
  width: 100%;
}

.packagePrice {
  border: 1px solid #ddd;
  padding: 20px;

}

.space {
  padding: 30px;
}

#selectors .cardbody {
  padding: 0;
}
#selectors .card {
  margin: 0;
  margin-bottom: 10px;
}
#selectors .cardtop {
  padding: 2px;
}

.card {
  box-shadow:0 1px 2px #aaa;
  background:white;
  margin:0 1.5rem 1.5rem;
  border-radius:3px;
  user-select:none;
  animation:fly-in-from-left .5s 1s ease both;
  transform-origin:top left;
}
.cardtop {
  border-bottom: 1px solid #eee;
  padding: 15px 15px;
}

.cardbody {
  padding: 15px 15px;
}

.cardbottom {
  border-top: 1px solid #eee;
  padding: 15px 15px;
}

.compare {
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
}
.compare li {
  margin-left: 10px;
  line-height: 28px;
}
.compare .glyphicon {
  position: relative;
  left:-8px;
  font-size: 16px;
  color: #6cc812;
}
.compare .invalid {
  color: #bbb;
}
.compare .tick {
  font-weight: bold;
}

.comparisonChart {
  font-size: 0.9em;
  line-height: 1.1em;
}

.comparisonChart>tbody>tr>td, .comparisonChart>thead>tr>th {
  padding: 3px;
  vertical-align: middle;
  text-align: center;
}

.specialBorder {
  padding-left: 5px;
  padding-right: 5px;
}

.features {
  list-style: none;
  padding-left: 2em;
}

.features li {
  margin-bottom: 10px;
}

.features li::before {
  content:"\e013";
  font-family: 'Glyphicons Halflings';
  position: absolute;
  left: 1em;
  color: #6cc812;
  font-size: 16px;
}

.online-payment img {
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.price {
  position: relative;
  font-size: 20px;
  top: -12px;
}

.price .unit {
}

.priceResult {
  font-size: 3em;
}

#learnMore {
  background-color: #317266;
}

.faqCTA {
  font-family: "Bree Serif";
  font-size: 3em;
  color: #fff;
}

.faqCTA:hover {
  color: #fff;
}

.faqCTA .glyphicon {
  top:6px
}

.listCentered {
  display: table;
  margin: 0 auto;
}

.listCentered li {
  text-align: left;
}


.ctaHelp {
  margin-top: 5px;
}

.ctaHelp a {
  color:#444;
  cursor: pointer;
  text-decoration: underline;
}

.modal-backdrop {
  z-index:0;
}

#signUp {
  background-color: #fafafa;
  padding: 50px 0px;
}

#login {
  background-image: url('../img/map-bg.png');
  background-size: cover;
  background-position: center center;
}

footer {
  background-color: #1b2c29;
  color: #1e988a;
  padding-bottom: 40px;
}

footer hr {
  border:0 ;
  border-top: 1px solid #1e988a;
  height: 1px;
}

#footerMenu {
  padding-top: 20px;
}

#footerMenu h5 {
  font-weight: bold;
}

#footerMenu ul li {
  font-size: 1em;
  line-height: 2em;
  list-style-type: none;
}

#footerMenu ul {
  padding-left: 0;
}

.zopim {
  z-index: 1!important;
  transform: scale(0.8, 0.8)!important;
  right: 4px!important;
  bottom: 3px!important;
}

/* Utility */
.imgFullWidth {
  width: 100%;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

p.caption {
  font-style: italic;
  margin-top:5px;
  font-size: 90%;
}

.highlight {
  margin: 0px;
  padding: 5px 20px 15px 20px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px
}

@media screen and (min-width: 768px) {
  #logo {
      margin-left: 0;
  }
  .jumbotron h1 {
    font-size: 60px;
  }
  .jumbotron {
    padding: 60px 0;
  }

  .zopim {
    z-index: 1!important;
    transform: scale(1, 1)!important;
    right: 10px!important;
    bottom: 0px!important;
  }

  .btn-menu {
    display: none;
  }

  h1 {font-size: 2.5em;}
  h2 {font-size: 2em;}
  h3 {font-size: 1.6em;}
  h4 {font-size: 1.3em;}
  p {font-size: 16px;}
  ul li {font-size: 1.125em;}
  ul li p {font-size: 1.125em;}
  .price {font-size: 20px;}

  .faqCTA {
    font-size: 4em;
  }

  .comparisonChart {
    font-size: 1em;
    line-height: 1.1em;
  }

  .comparisonChart>tbody>tr>td, .comparisonChart>thead>tr>th {
    padding: 7px;
    vertical-align: middle;
    text-align: center;
  }
}
