
<footer>
  <div class="container">
    <div id="footerMenu" class="row">
      <div class="col-sm-12">
        <ul ng-hide="sessionUser" class="list-inline text-center">
          <li><a ui-sref="login">Login | 登入</a></li>
          <li>• </li>
          <li><a href="http://help.afteryou.co" target="_blank">Help Center | 幫助中心</a></li>
        </ul>
        <ul ng-show="sessionUser" class="list-inline text-center">
          <li><a href="http://blog.afteryou.co" target="_blank">網誌</a></li>
          <li>• </li>
          <li><a ui-sref="findHelper">揀選助理</a></li>
          <li>•</li>
          <li><a ui-sref="pending">預約狀況</a></li>
          <li>•</li>
          <li><a ui-sref="transactions">付款   </a></li>
          <li>•</li>
          <li><a href="http://help.afteryou.co" target="_blank">幫助中心</a></li>
          <li>•</li>
          <li><a ui-sref="logOut">登出</a></li>
        </ul>
      </div>
      <div class="col-sm-12 text-center"><img src="../img/outline@2x.png" style="max-width: 120px"/></div>
      <div class="col-sm-12 text-center"><br/>
        <p class="small">&copy; 2016 AfterYou Pte. Ltd.<br/>71 Ayer Rajah Crescent, Singapore 139951<br/>電郵: <a href="mailto:sayhello@afteryou.co">sayhello@afteryou.co</a></p>
      </div>
    </div>
  </div>
</footer>