
<div ng-controller="MessagesController" class="container"><br/>
  <div class="row">
    <div class="col-sm-4">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="">All messages</a></li>
      </ul>
    </div>
    <div class="col-sm-8">
      <p class="text-muted">No new messages.</p>
      <div class="alert alert-warning">Chat service is temporarily down due to high demand. We will attempt to get you connected to the helper directly!</div>
    </div>
  </div>
</div>