
<section ng-controller="MyProfileController">
  <div class="container">
    <h2>用戶資料</h2>
    <p>請確保以下資訊的準確性，以便於您與家務助理溝通。</p>
    <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate="novalidate">
      <div class="form-group">
        <label>您的姓名</label>
        <input name="name" type="text" ng-model="sessionUser.name" required="required" class="form-control"/>
        <div ng-messages="userForm.name.$error" class="errorMsg">
          <p ng-message="required">請輸入您的姓名</p>
        </div>
      </div>
      <div class="form-group">
        <label>您的電郵</label>
        <input name="email" type="email" ng-model="sessionUser.email" required="required" class="form-control"/>
        <div ng-messages="userForm.email.$error" class="errorMsg">
          <p ng-message="email">請輸入有效的電郵格式</p>
          <p ng-message="required">請輸入您的電郵</p>
        </div>
      </div>
      <div class="form-group">
        <label>電話號碼</label>
        <input name="phone" type="number" ng-model="sessionUser.phone" required="required" class="form-control"/>
        <div ng-messages="userForm.phone.$error" class="errorMsg">
          <p ng-message="required">請輸入您的電話號碼</p>
        </div>
      </div>
      <div class="form-group">
        <label>您的郵遞區號</label>
        <input name="postal" type="number" ng-model="sessionUser.postal_code" required="required" class="form-control"/>
        <div ng-messages="userForm.postal.$error" class="errorMsg">
          <p ng-message="required">請輸入您的郵遞區號</p>
        </div>
      </div>
    </form>
    <p><b>更新資料</b></p>
    <p>系統升級中。請發電郵到 <a href="mailto:sayhello@afteryou.co">sayhello@afteryou.co</a> 以更新您的個人資料。</p>
    <h3>重設密碼</h3><a ui-sref="forgetPassword" class="btn btn-default">點擊此處重設密碼 >></a>
  </div>
</section>
<footer>
  <div class="container">
    <div id="footerMenu" class="row">
      <div class="col-sm-12">
        <ul ng-hide="sessionUser" class="list-inline text-center">
          <li><a ui-sref="login">Login | 登入</a></li>
          <li>• </li>
          <li><a href="http://help.afteryou.co" target="_blank">Help Center | 幫助中心</a></li>
        </ul>
        <ul ng-show="sessionUser" class="list-inline text-center">
          <li><a href="http://blog.afteryou.co" target="_blank">網誌</a></li>
          <li>• </li>
          <li><a ui-sref="findHelper">揀選助理</a></li>
          <li>•</li>
          <li><a ui-sref="pending">預約狀況</a></li>
          <li>•</li>
          <li><a ui-sref="transactions">付款   </a></li>
          <li>•</li>
          <li><a href="http://help.afteryou.co" target="_blank">幫助中心</a></li>
          <li>•</li>
          <li><a ui-sref="logOut">登出</a></li>
        </ul>
      </div>
      <div class="col-sm-12 text-center"><img src="../img/outline@2x.png" style="max-width: 120px"/></div>
      <div class="col-sm-12 text-center"><br/>
        <p class="small">&copy; 2016 AfterYou Pte. Ltd.<br/>71 Ayer Rajah Crescent, Singapore 139951<br/>電郵: <a href="mailto:sayhello@afteryou.co">sayhello@afteryou.co</a></p>
      </div>
    </div>
  </div>
</footer>