
<div ng-controller="SellerFormController" class="container">
  <h1 class="text-center">Be Home helper | 註冊成為家务助理</h1>
  <h5 class="text-center">Home helper jobs (weekday, weekend, adhoc, weekly...) | 家務助理工作 (星期一至五, 星期六／日, 臨時工, 每週一次⋯⋯)</h5><br/>
  <div class="col-sm-6 col-sm-push-3">
    <div class="highlight">
      <form name="sellerForm" ng-submit="submitSellerForm(sellerForm.$valid)" novalidate="novalidate">
        <h3>Basic info | 基本信息</h3>
        <div ng-class="{'has-success':sellerForm.name.$valid}" class="form-group">
          <label>Name | 您的姓名</label>
          <input name="name" type="text" ng-model="seller.name" required="required" class="form-control"/>
          <div ng-messages="sellerForm.name.$error" ng-show="sellerForm.name.$touched" class="errorMsg">
            <p ng-message="required">Please enter name | 請輸入您的姓名</p>
          </div>
        </div>
        <div ng-class="{'has-success':sellerForm.phone.$valid}" class="form-group">
          <label>Phone | 您的電話號碼</label>
          <input name="phone" type="number" ng-model="seller.phone" required="required" class="form-control"/>
          <div ng-messages="sellerForm.phone.$error" ng-show="sellerForm.phone.$touched" class="errorMsg">
            <p ng-message="required"> Required for communication | 請輸入您的電話號碼以便我們與您聯絡</p>
            <p ng-message="number"> Required for communication | 請輸入正確的電話號碼</p>
          </div>
        </div>
        <div ng-class="{'has-success':sellerForm.year.$valid}" required="required" class="form-group">
          <label>Year of birth | 您的出生年份</label>
          <select name="year" ng-model="seller.year" ng-options="n for n in [] | range:1940:2010" required="required" class="form-control"></select>
        </div>
        <div ng-class="{'has-success':sellerForm.nationality.$valid}" class="form-group">
          <label>Nationality | 您的身份</label>
          <select name="nationality" ng-model="seller.nationality" required="required" class="form-control">
            <option value="local">Hong Kong Citizen | 香港公民</option>
            <option value="pr">Permanent Resident | 香港永久居民</option>
            <option value="foreigner">Foreigner | 其他  </option>
          </select>
        </div>
        <div ng-class="{'has-success':sellerForm.gender.$valid}" class="form-group">
          <label>Gender | 您的性別</label>
          <select name="gender" ng-model="seller.gender" required="required" class="form-control">
            <option value="male">Male | 男</option>
            <option value="female">Female | 女</option>
          </select>
        </div>
        <div ng-class="{'has-success':sellerForm.ic.$valid}" class="form-group">
          <label>Identification number | 您的身份證號碼</label>
          <input name="ic" ng-model="seller.ic" type="text" required="required" class="form-control"/>
          <div ng-messages="sellerForm.ic.$error" ng-show="sellerForm.ic.$touched" class="errorMsg">
            <p ng-message="required">Please enter correct identification | 請您輸入正確的身份證號碼</p>
          </div>
        </div>
        <hr/>
        <h3>Jobs you can do | 工作信息</h3>
        <div ng-class="{'has-success':sellerForm.price.$valid}" class="form-group">
          <label>Preferred hourly pay | 您的理想時薪</label>
          <div style="max-width:300px;" class="input-group"><span class="input-group-addon">HK$</span>
            <input name="price" ng-model="seller.price" type="number" required="required" class="form-control"/><span class="input-group-addon">Hr | 每小時</span>
          </div>
          <div ng-messages="sellerForm.price.$error" ng-show="sellerForm.price.$touched" class="errorMsg">
            <p ng-message="required">Average | 平均時薪為 HK$70 - HK$120</p>
            <p ng-message="number">Please enter number | 請輸入正確的數字</p>
          </div>
        </div>
        <div ng-class="{'has-success':sellerForm.tasks.$valid}" id="taskGroup" class="form-group">
          <label>Tasks you can do | 您掌握的技能</label>
          <div class="checkbox">
            <label for="task-0">
              <input id="task-0" name="tasks" type="checkbox" ng-required="!tasks" ng-model="tasks.l_cleaning"/>Light cleaning (dusting, wiping) | 表層清潔 (除塵，抹拭)
            </label>
          </div>
          <div class="checkbox">
            <label for="task-1">
              <input id="task-1" name="tasks" type="checkbox" ng-required="!tasks" ng-model="tasks.h_cleaning"/>Heavy cleaning (scrubbing, mopping, vacuuming)| 深層清潔 (拖地, 擦洗, 窗戶清洗)
            </label>
          </div>
          <div class="checkbox">
            <label for="task-2"> 
              <input id="task-2" name="tasks" type="checkbox" ng-required="!tasks" ng-model="tasks.wash_dry"/>Laundry | 洗晾衣物
            </label>
          </div>
          <div class="checkbox">
            <label for="task-3">
              <input id="task-3" name="tasks" type="checkbox" ng-required="!tasks" ng-model="tasks.ironing"/>Ironing clothes | 熨燙衣物
            </label>
          </div>
          <div class="checkbox">
            <label for="task-4">
              <input id="task-4" name="tasks" type="checkbox" ng-required="!tasks" ng-model="tasks.grocery"/>Grocery shopping | 超市代購
            </label>
          </div>
          <div class="checkbox">
            <label for="task-5">
              <input id="task-5" name="tasks" type="checkbox" ng-required="!tasks" ng-model="tasks.babysitting"/>Babysitting | 保姆工作
            </label>
          </div>
          <div class="checkbox">
            <label for="task-6"> 
              <input id="task-6" name="tasks" type="checkbox" ng-required="!tasks" ng-model="tasks.petsitting"/>Petsitting | 寵物保姆
            </label>
          </div>
          <div class="checkbox">
            <label for="task-7"> 
              <input id="task-7" name="tasks" type="checkbox" ng-required="!tasks" ng-model="tasks.declutter"/>Declutter house | 收納簡化
            </label>
          </div>
          <div class="checkbox">
            <label for="task-8"> 
              <input id="task-8" name="tasks" type="checkbox" ng-required="!tasks" ng-model="tasks.meal_prep"/>Cooking | 煮食備餐
            </label>
          </div>
          <div class="checkbox">
            <label for="task-9"> 
              <input id="task-9" name="tasks" type="checkbox" ng-required="!tasks" ng-model="tasks.eldercare"/>Eldercare | 長者服務  
            </label>
          </div>
          <div ng-messages="sellerForm.tasks.$error" class="errorMsg">
            <p ng-message="required">Choose at least one | 請選擇至少一項工作</p>
          </div>
        </div>
        <div ng-class="{'has-success':sellerForm.loc.$valid}" id="locationGroup" class="form-group">
          <label>Where you can work | 您偏好的工作地區</label>
          <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
            <div class="panel panel-default">
              <div role="tab" id="headingOne" class="panel-heading">
                <h6 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">新界 New Territories</a></h6>
              </div>
              <div role="tabpanel" id="collapseOne" aria-labelledby="headingOne" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="checkbox">
                    <label for="loc-0">
                      <input id="loc-0" name="loc" type="checkbox" ng-required="!location" ng-model="location.north"/>北區 North
                    </label>
                  </div>
                  <div class="checkbox">
                    <label for="loc-1"> 
                      <input id="loc-1" name="loc" type="checkbox" ng-required="!location" ng-model="location.yuenlong"/>元朗區 Yuen Long
                    </label>
                  </div>
                  <div class="checkbox">
                    <label for="loc-2"> 
                      <input id="loc-2" name="，loc" type="checkbox" ng-required="!location" ng-model="location.tuenmun"/>屯門區 Tuen Mun
                    </label>
                  </div>
                  <div class="checkbox">
                    <label for="loc-3">
                      <input id="loc-3" name="loc" type="checkbox" ng-required="!location" ng-model="location.tsuenwan"/>荃灣區 Tsuen Wan
                    </label>
                  </div>
                  <div class="checkbox">
                    <label for="loc-4"> 
                      <input id="loc-4" name="loc" type="checkbox" ng-required="!location" ng-model="location.kwaitsing"/>葵青區 Kwai Tsing
                    </label>
                  </div>
                  <div class="checkbox">
                    <label for="loc-5">
                      <input id="loc-5" name="loc" type="checkbox" ng-required="!location" ng-model="location.shatin"/>沙田區 Sha Tin
                    </label>
                  </div>
                  <div class="checkbox">
                    <label for="loc-6">
                      <input id="loc-6" name="loc" type="checkbox" ng-required="!location" ng-model="location.taipo"/>大埔區 Tai Po
                    </label>
                  </div>
                  <div class="checkbox">
                    <label for="loc-7">
                      <input id="loc-7" name="loc" type="checkbox" ng-required="!location" ng-model="location.saikung"/>西貢區 Sai Kung
                    </label>
                  </div>
                  <div class="checkbox">
                    <label for="loc-8">
                      <input id="loc-8" name="loc" type="checkbox" ng-required="!location" ng-model="location.islands"/>離島區 Islands
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div role="tab" id="headingTwo" class="panel-heading">
                <h6 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">九龍 Kowloon</a></h6>
              </div>
              <div role="tabpanel" id="collapseTwo" aria-labelledby="headingTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="checkbox">
                    <label for="loc-9">
                      <input id="loc-9" name="loc" type="checkbox" ng-required="!location" ng-model="location.shamshuipo"/>深水埗區 Sham Shui Po
                    </label>
                  </div>
                  <div class="checkbox">
                    <label for="loc-10">
                      <input id="loc-10" name="loc" type="checkbox" ng-required="!location" ng-model="location.wongtaisin"/>黃大仙區 Wong Tai Sin
                    </label>
                  </div>
                  <div class="checkbox">
                    <label for="loc-11">
                      <input id="loc-11" name="loc" type="checkbox" ng-required="!location" ng-model="location.kowlooncity"/>九龍城區 Kowloon City
                    </label>
                  </div>
                  <div class="checkbox">
                    <label for="loc-12">
                      <input id="loc-12" name="loc" type="checkbox" ng-required="!location" ng-model="location.kwuntong"/>觀塘區 Kwun Tong
                    </label>
                  </div>
                  <div class="checkbox">
                    <label for="loc-13">
                      <input id="loc-13" name="loc" type="checkbox" ng-required="!location" ng-model="location.yautsimmong"/>油尖旺區 Yau Tsim Mong
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div role="tab" id="headingThree" class="panel-heading">
                <h6 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsed">香港島 Hong Kong Island</a></h6>
              </div>
              <div role="tabpanel" id="collapseThree" aria-labelledby="headingThree" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="checkbox">
                    <label for="loc-14">
                      <input id="loc-14" name="loc" type="checkbox" ng-required="!location" ng-model="location.centralnwestern"/>中西區 Central & Western
                    </label>
                  </div>
                  <div class="checkbox">
                    <label for="loc-15">
                      <input id="loc-15" name="loc" type="checkbox" ng-required="!location" ng-model="location.wanchai"/>灣仔區 Wan Chai
                    </label>
                  </div>
                  <div class="checkbox">
                    <label for="loc-16">
                      <input id="loc-16" name="loc" type="checkbox" ng-required="!location" ng-model="location.eastern"/>東區 Eastern
                    </label>
                  </div>
                  <div class="checkbox">
                    <label for="loc-17">
                      <input id="loc-17" name="loc" type="checkbox" ng-required="!location" ng-model="location.southern"/>南區 Southern
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div ng-messages="sellerForm.loc.$error" class="errorMsg">
            <p ng-message="required">請選擇至少一個地區</p>
          </div>
        </div>
        <div ng-class="{'has-success':sellerForm.commission.$valid}" class="form-group">
          <label>Commission structure | 平台服務費</label><br/>By agreeing, you allow AfterYou to collect a one-time HK$300 commission from you for confirmed and completed jobs per house. | 您如同意該條例，AfterYou將向您收取共 HK$300/僱主 的平台服務費
          <h6>其中包括: </h6>Complete 1st session, $25 commission | 您為該僱主提供第一次服務後，AfterYou將從中收取 HK$25。<br/> Complete 4th session, $275 commission | 如您為該僱主提供服務達到四次，AfterYou將在第四次服務後另外收取 HK$275。
          <div class="checkbox">
            <label for="commission">
              <input id="commission" name="commission" type="checkbox" required="required" ng-model="commission"/>I agree | 我同意以上條例
            </label>
            <div ng-messages="sellerForm.commission.$error" class="errorMsg">
              <p ng-message="required">You must agree | 您必須同意以上條例以使用AfterYou的產品和服務</p>
            </div>
          </div>
        </div>
        <div ng-class="{'has-success':sellerForm.agree.$valid}" class="form-group">
          <label>Personal Data protection | 收集個人資料聲明</label>
          <p class="small"> By agreeing, you allow AfterYou to collect, use and disclose your personal data, as provided in this query form for the following purposes (a) the processing of this query; (b) future marketing related to our services. | 如您同意該條例，AfterYou將收集您的個人信息並可能用於為您提供服務，以及進行相關的宣傳工作。</p>
          <div class="checkbox">
            <label for="agree">
              <input id="agree" name="agree" type="checkbox" required="required" ng-model="pcpd"/>I agree | 我同意以上條例
            </label>
            <div ng-messages="sellerForm.agree.$error" class="errorMsg">
              <p ng-message="required">You must agree to proceed | 您必須同意以上條例以使用AfterYou的產品和服務</p>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success">Register | 註冊 >></button><br/><br/>
      </form>
    </div>
  </div>
</div>