
<title>註冊成功！我們的客服人員會很快與您聯絡！</title>
<section>
  <div style="min-height:80vh;" class="container">
    <div class="text-center"><br/><br/>
      <h1>註冊成功！</h1><br/>
      <h3>我們的客服人員將在24小時內與您聯絡以覆核您的個人資料，幫助您正式成為一名家務助理！</h3><br/>
      <button ui-sref="/" class="btn btn-default">首頁 >></button>
    </div>
  </div>
</section>