
<div ng-controller="SetPriceController">
  <div id="setPrice" class="row">
    <div class="card">
      <div class="cardbody">
        <label>Get notified of good deals!</label>
        <p>Some helpers might work for a lower-than-market rate. Enter your budget here and we'll notify you when that helper comes along!</p>
        <form name="setprice" ng-submit="set(setprice.$valid)" novalidate="novalidate">
          <div class="form-group">
            <div style="max-width:200px;" class="input-group"><span class="input-group-addon">$</span>
              <input name="price" ng-model="price" type="number" min="5" max="50" required="required" class="form-control"/><span class="input-group-addon">per hour</span>
            </div>
            <div ng-messages="setprice.price.$error">
              <p ng-message="number">Only numbers are accepted.</p>
              <p ng-message="min">A price more than $5/hr is required.</p>
              <p ng-message="max">A price less than $50/hr is required.</p>
            </div>
          </div>
          <button class="btn btn-default">Set auto price alert</button>
          <p ng-show="priceConfirm == true">Price saved!</p>
        </form>
      </div>
    </div>
  </div>
</div>