
<section ng-controller="TransactionsController" class="sellerlist">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>Link a credit card<a href="http://stripe.com" target="_blank"><img src="../img/outline-dark@2x.png" style="width: 130px; padding-left: 10px; padding-bottom:5px;"/></a></h3>
        <div ng-show="sessionUser.hasCard">
          <p>Card Brand : {{ cardDetails.brand }} </p>
          <p>Last 4 Digits : {{ cardDetails.last4 }} </p>
          <p>Fund Type : {{ cardDetails.funding }}</p>
          <button ng-click="removeCard();" class="btn btn-sm btn-warning">Unlink credit card</button>
        </div>
        <div ng-hide="sessionUser.hasCard">
          <p>Link a credit or debit card now to make payment.<br/><a href="http://afteryou.helpscoutdocs.com/article/24-how-do-you-handle-my-credit-card-details" target="_blank" class="small">How do you handle my card details?</a></p>
          <div class="small">Supported cards:</div><img src="../img/supported_cards.png" style="width: 250px; padding-bottom:5px;"/><br/>
          <form>
            <div class="form-group">
              <label>Card number</label>
              <input name="card" placeholder="Number with no spaces" ng-model="cardNumber" class="form-control"/>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <div class="form-group">
                  <label>Year of expiry</label>
                  <input name="year" placeholder="YYYY" ng-model="cardYear" type="number" class="form-control"/>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <label>Month of expiry</label>
                  <input name="month" placeholder="MM" ng-model="cardMonth" type="number" class="form-control"/>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <label>CVC number</label>
                  <input name="ccv" placeholder="3 digits" ng-model="cardCVC" type="number" class="form-control"/>
                </div>
              </div>
            </div>
          </form>
          <button ng-click="addCard();" class="btn btn-success">Add a card</button><br/>
        </div>
      </div>
      <div class="col-sm-6">
        <h3>Pre-paid Account</h3>
        <p>Current Value: {{ privateData.walletAmount | currency}}</p>
        <button class="btn btn-default">Top Up Account</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3>Unpaid jobs</h3>
        <p ng-hide="unpaidSessions &gt; 0">There are no jobs pending payment yet.</p>
        <div class="list-group">
          <div ng-repeat="j in jobs | filterByPaymentId" class="list-group-item">
            <div class="row">
              <div class="col-xs-7">
                <h3>{{ j.seller.name }}</h3>
                <div class="row">
                  <div class="col-sm-4">
                    <label>Job date</label>
                  </div>
                  <div class="col-sm-8"> 
                    <p>{{ j.jobDate | date:"dd MMM yyyy" : '+0800'}} </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-5">
                <h3>{{ j.fee*j.duration | currency }}</h3>
                <div class="small"> {{ j.fee | currency }} X {{ j.duration }} hr</div>
                <button ng-click="paynow(j);" ng-hide="j.paymentId" class="btn btn-success btn-sm">Pay now</button>
              </div>
            </div>
            <div ng-show="j.alert==true" class="alert alert-warning">Processing your payment now. Please wait...</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <h3>Payment history</h3>
        <p ng-hide="jobs.length &gt; 0">You haven't made any payments before.</p>
        <div class="list-group">
          <div ng-repeat="j in jobs" class="list-group-item">
            <div class="row">
              <div class="col-xs-7">
                <h3>{{ j.seller.name }}</h3>
                <div class="row">
                  <div class="col-sm-4">
                    <label>Job date</label>
                  </div>
                  <div class="col-sm-8"> 
                    <p>{{ j.jobDate | date:"dd MMM yyyy" : '+0800'}} </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <label>Paid on</label>
                  </div>
                  <div class="col-sm-8"> 
                    <p>{{ j.paymentDate | date:"dd MMM 'at' hh:mm a" : '+0800'}} </p>
                  </div>
                </div>
                <div class="row small">
                  <div class="col-sm-4">
                    <label>Payment Id</label>
                  </div>
                  <div class="col-sm-8"> 
                    <p>{{ j.paymentId }} </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-5">
                <h3>{{ j.fee*j.duration | currency }}</h3>
                <div class="small"> {{ j.fee | currency }} X {{ j.duration }} hr</div>
                <div ng-show="j.paymentId" class="label label-success">Paid</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div id="footerMenu" class="row">
      <div class="col-sm-12">
        <ul ng-hide="sessionUser" class="list-inline text-center">
          <li><a ui-sref="login">Login | 登入</a></li>
          <li>• </li>
          <li><a href="http://help.afteryou.co" target="_blank">Help Center | 幫助中心</a></li>
        </ul>
        <ul ng-show="sessionUser" class="list-inline text-center">
          <li><a href="http://blog.afteryou.co" target="_blank">網誌</a></li>
          <li>• </li>
          <li><a ui-sref="findHelper">揀選助理</a></li>
          <li>•</li>
          <li><a ui-sref="pending">預約狀況</a></li>
          <li>•</li>
          <li><a ui-sref="transactions">付款   </a></li>
          <li>•</li>
          <li><a href="http://help.afteryou.co" target="_blank">幫助中心</a></li>
          <li>•</li>
          <li><a ui-sref="logOut">登出</a></li>
        </ul>
      </div>
      <div class="col-sm-12 text-center"><img src="../img/outline@2x.png" style="max-width: 120px"/></div>
      <div class="col-sm-12 text-center"><br/>
        <p class="small">&copy; 2016 AfterYou Pte. Ltd.<br/>71 Ayer Rajah Crescent, Singapore 139951<br/>電郵: <a href="mailto:sayhello@afteryou.co">sayhello@afteryou.co</a></p>
      </div>
    </div>
  </div>
</footer>