<!DOCTYPE html>
<base href="/">
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="index, follow">
    <meta name="fragment" content="!">
    <meta name="keywords" content="find helpers, helpers, check price, helpers price, cleaning prices">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="canonical" href="http://www.afteryou.co">
    <title>AfterYou FindHelper | Find freelance home helpers near you</title>
    <meta name="description" content="AfterYou FindHelper is a free marketplace for homeowners to engage freelance home helpers.">
    <meta property="og:title" content="Find freelance home helpers near you!">
    <meta property="og:description" content="AfterYou FindHelper is a free marketplace for homeowners to engage freelance home helpers.">
    <meta property="og:image" content="http://afteryou.co/fb_image.png">
    <meta property="og:url" content="http://afteryou.co">
    <meta property="fb:app_id" content="408372412621052">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/datepicker.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.0.0/ng-tags-input.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.0.0/ng-tags-input.bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chivo:400" type="text/css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css" type="text/css">
  </head>
  <body ng-app="AfterYouWeb">
    <nav class="navbar">
      <div ng-controller="MenuController" ng-cloak class="container">
        <div class="navbar-header">
          <button type="button" ui-sref="login" ng-hide="sessionUser" class="navbar-toggle"><span>登入</span></button>
          <button type="button" data-toggle="collapse" data-target="#topMenu" aria-expanded="false" ng-show="sessionUser" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span>菜單</span><span ng-show="jobCount &gt; 0" class="badge">{{jobCount}}</span></button><a ui-sref="/"><img id="logo" src="../img/logo_new@2x.png"></a>
        </div>
        <div id="topMenu" class="collapse navbar-collapse">
          <div ng-hide="sessionUser">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="http://help.afteryou.co" target="_blank">Help | 幫助中心 </a></li>
              <li><a ui-sref="login">登入</a></li>
            </ul>
          </div>
          <div ng-show="sessionUser">
            <ul class="nav navbar-nav navbar-right">
              <li><a ui-sref="findHelper">家務助理列表</a></li>
              <li><a ui-sref="pending">預約狀況<span ng-show="jobCount &gt; 0" class="badge">{{jobCount}}</span></a></li>
              <li><a ui-sref="transactions">付款<span ng-show="jobCount &gt; 0" class="badge">{{jobCount}}</span></a></li>
              <li><a href="http://afteryou.helpscoutdocs.com" target="_blank">幫助中心</a></li>
              <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ sessionUser.name }}  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a ui-sref="myProfile">更新個人資料</a></li>
                  <li><a ui-sref="logOut">登出</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.0.0/ng-tags-input.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="js/vendor/ngtimeago.js"></script>
    <script src="js/vendor/truncate.js"></script>
    <script src="js/vendor/parse-1.6.14.min.js"></script>
    <script src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    </script>
    <script>
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','//connect.facebook.net/en_US/fbevents.js');
      fbq('init', '525360964294286');
      fbq('track', "PageView");
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=525360964294286&amp;ev=PageView&amp;noscript=1"></noscript>
    <script>
      (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/y8x92dph';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
      
    </script>
    <script src="js/main.js"></script>
  </body>
</html>