
<div ng-controller="BuyerFormController" class="container">
  <div class="text-center">
    <div style="background:none" class="jumbotron">
      <h1>Find freelance domestic helpers near you!</h1>
      <h3>Free-to-use platform to hire helpers at your price and terms.</h3>
      <p>148 local freelance domestic helpers available now!</p><br/>
    </div>
  </div>
  <div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">Start exploring the list now!</div>
      </div>
      <div class="panel-body">
        <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate="novalidate">
          <div class="form-group">
            <label>Your name</label>
            <input name="name" type="text" ng-model="buyer.name" required="required" class="form-control"/>
            <div ng-messages="userForm.name.$error" class="errorMsg">
              <p ng-message="required">A name is required</p>
            </div>
          </div>
          <div class="form-group">
            <label>Your email</label>
            <input name="email" type="email" ng-model="buyer.email" required="required" class="form-control"/>
            <div ng-messages="userForm.email.$error" class="errorMsg">
              <p ng-message="email">An email is required</p>
              <p ng-message="required">An email is required</p>
            </div>
          </div>
          <div class="form-group">
            <label>Enter a password</label>
            <input name="pin" type="password" ng-model="buyer.pin" required="required" class="form-control"/>
            <div ng-messages="userForm.pin.$error" class="errorMsg">
              <p ng-message="required">A password is required</p>
            </div>
          </div>
          <div class="form-group">
            <label>Mobile phone number</label>
            <input name="phone" type="number" ng-model="buyer.phone" required="required" min="80000000" max="99999999" class="form-control"/>
            <div ng-messages="userForm.phone.$error" class="errorMsg">
              <p ng-message="required">A valid mobile phone number is required</p>
              <p ng-message="max">A valid mobile phone number is required</p>
              <p ng-message="min">A valid mobile phone number is required</p>
            </div>
          </div>
          <div class="form-group">
            <label>Where you need the helper (Postal code)</label>
            <input name="postal" type="number" ng-model="buyer.postal_code" required="required" max="999999" class="form-control"/>
            <div ng-messages="userForm.postal.$error" class="errorMsg">
              <p ng-message="required">A valid Singapore postal code is required</p>
              <p ng-message="max">A valid Singapore postal code is required</p>
            </div>
          </div>
          <div class="form-group">
            <label>What you need the helper to do?</label>
            <div class="checkbox">
              <label>
                <input name="tasks" type="checkbox" ng-model="buyer.tasks.cleaning" ng-required="!buyer.tasks"/>General cleaning (dusting and wiping)
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input name="tasks" type="checkbox" ng-model="buyer.tasks.laundry" ng-required="!buyer.tasks"/>Washing & drying of clothes
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input name="tasks" type="checkbox" ng-model="buyer.tasks.ironing" ng-required="!buyer.tasks"/>Ironing of clothes
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input name="tasks" type="checkbox" ng-model="buyer.tasks.babysitting" ng-required="!buyer.tasks"/>Babysitting
              </label>
            </div>
            <div ng-messages="userForm.tasks.$error" class="errorMsg">
              <p ng-message="required">Please choose at least one</p>
            </div>
          </div>
          <div class="form-group">
            <label>How often do you want a helper to show up</label>
            <div class="radio">
              <label>
                <input name="frequency" ng-model="buyer.frequency" value="once" type="radio" ng-required="!buyer.frequency"/>One time
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="frequency" ng-model="buyer.frequency" value="every_week" type="radio" ng-required="!buyer.frequency"/>Weekly
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="frequency" ng-model="buyer.frequency" value="fortnightly" type="radio" ng-required="!buyer.frequency"/>Once every 2 weeks
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="frequency" ng-model="buyer.frequency" value="monthly" type="radio" ng-required="!buyer.frequency"/>Monthly
              </label>
            </div>
            <div ng-messages="userForm.frequency.$error" class="errorMsg">
              <p ng-message="required">Please select one</p>
            </div>
          </div>
          <div class="form-group">
            <label>PDPA agreement</label>
            <p class="small">By agreeing, you allow AfterYou Pte. Ltd. to collect, use and disclose your personal data, as provided in this query form for the following purposes in accordance with the Personal Data Protection Act 2012: (a) the processing of this query; (b) future marketing related to our services.</p>
            <div class="checkbox">
              <label>
                <input name="agree" type="checkbox" ng-model="buyer.pdpa" ng-required="!buyer.pdpa"/>I agree
              </label>
              <div ng-messages="userForm.agree.$error" class="errorMsg">
                <p ng-message="required">You must agree to proceed</p>
              </div>
            </div>
          </div><br/>
          <button type="submit" class="btn btn-success">Register & Search >></button><br/>
        </form>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div id="footerMenu" class="row">
      <div class="col-sm-3">
        <h5>Find Freelance Helpers</h5>
        <hr/>
        <ul>
          <li> <a href="/">Log In</a></li>
          <li> <a href="/">Find A Helper Now</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Home Butler Services</h5>
        <hr/>
        <ul>
          <li> <a href="http://afteryou.co/butler.html">Learn More</a></li>
          <li> <a href="http://afteryou.co/faq.html">Frequent Questions</a></li>
          <li> <a href="http://afteryou.co/stories.html">Customer Stories</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>AirBnb House Management</h5>
        <hr/>
        <ul>
          <li> <a href="http://afteryou.co/airbnb.html">Key Management and Cleaning</a></li>
          <li><a href="http://afteryou.co/airbnb.html">Pricing</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>About Us</h5>
        <hr/>
        <ul>
          <li> <a href="http://afteryou.co/aboutus.html">About Us</a></li>
          <li> <a href="http://jobs.askthewhale.com">Job Opportunities</a></li>
          <li> <a href="mailto:sayhello@afteryou.co?subject=Contact Enquiry">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">   <small><br/>&copy; 2016 AfterYou Pte. Ltd. | Made in Singapore.
            71 Ayer Rajah Crescent, Singapore 139951 |
            Email: <a href="mailto:sayhello@afteryou.co">sayhello@afteryou.co</a><br/><br/></small></div>
      </div>
    </div>
  </div>
</footer>