
<footer>
  <div class="container">
    <div id="footerMenu" class="row">
      <div class="col-sm-3">
        <h5>Find Freelance Helpers</h5>
        <hr/>
        <ul>
          <li> <a href="/">Log In</a></li>
          <li> <a href="/">Find A Helper Now</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Home Butler Services</h5>
        <hr/>
        <ul>
          <li> <a href="http://afteryou.co/butler.html">Learn More</a></li>
          <li> <a href="http://afteryou.co/faq.html">Frequent Questions</a></li>
          <li> <a href="http://afteryou.co/stories.html">Customer Stories</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>AirBnb House Management</h5>
        <hr/>
        <ul>
          <li> <a href="http://afteryou.co/airbnb.html">Key Management and Cleaning</a></li>
          <li><a href="http://afteryou.co/airbnb.html">Pricing</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>About Us</h5>
        <hr/>
        <ul>
          <li> <a href="http://afteryou.co/aboutus.html">About Us</a></li>
          <li> <a href="http://jobs.askthewhale.com">Job Opportunities</a></li>
          <li> <a href="mailto:sayhello@afteryou.co?subject=Contact Enquiry">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">   <small><br/>&copy; 2016 AfterYou Pte. Ltd. | Made in Singapore.
            71 Ayer Rajah Crescent, Singapore 139951 |
            Email: <a href="mailto:sayhello@afteryou.co">sayhello@afteryou.co</a><br/><br/></small></div>
      </div>
    </div>
  </div>
</footer>