<!DOCTYPE html>
<base href="/">
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="parttime, jobs, check price, check salary, hourly pay">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <title>AfterYou FindHelper | Find freelance helpers near you!</title>
    <meta name="description" content="AfterYou FindHelper is a free marketplace for homeowners to engage freelance domestic helpers.">
    <meta property="og:title" content="Find freelance domestic helpers near you!">
    <meta property="og:description" content="AfterYou FindHelper is a free marketplace for homeowners to engage freelance domestic helpers.">
    <meta property="og:image" content="http://search.afteryou.co/fb_image.png">
    <meta property="og:url" content="http://search.afteryou.co">
    <meta property="fb:app_id" content="408372412621052">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/datepicker.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bree+Serif:400,700" type="text/css">
    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="js/vendor/bootstrap-datepicker.js"></script>
    <script src="//www.parsecdn.com/js/parse-1.6.7.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-65963856-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script>
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','//connect.facebook.net/en_US/fbevents.js');
      fbq('init', '525360964294286');
      fbq('track', "PageView");
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=525360964294286&amp;ev=PageView&amp;noscript=1"></noscript>
  </head>
  <body ng-app="AfterYouWeb">
    <nav class="navbar">
      <div ng-controller="LoginController" ng-cloak class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#topMenu" aria-expanded="false" class="btn-default navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span>Login/Logout</button><a ui-sref="/"><img id="logo" src="../img/afteryou_logo@2x.png"></a>
        </div>
        <div id="topMenu" class="collapse navbar-collapse">
          <div ng-show="sessionUser == null">
            <form class="navbar-form navbar-right">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <input type="text" placeholder="Email" ng-model="email" class="form-control">
                  </div>
                  <div class="form-group">   
                    <div class="row">
                      <div class="col-sm-12">
                        <input type="password" placeholder="Password" ng-model="password" class="form-control">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div style="margin-top:3px;" class="forget-password small"><a href="/forgetpassword.html">Forget password</a></div>
                      </div>
                    </div>
                  </div>
                  <button ng-click="logIn()" class="btn btn-success">Log In</button>
                </div>
              </div>
            </form>
          </div>
          <div ng-show="sessionUser">
            <ul class="nav navbar-nav navbar-right">
              <li><a ui-sref="findHelper">Find A Helper</a></li>
              <li><a ui-sref="myProfile">My Profile</a></li>
              <li><a ui-sref="pastRequests">Requests</a></li>
              <li><a ui-sref="logOut">Log Out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div ng-controller="ForgetPasswordController" class="container">
      <h2>Forgot password</h2>
      <p>Please enter the email address you have used to access our website.</p>
      <form name="resetForm" ng-submit="submitForm(resetForm.$valid)" novalidate>
        <div class="form-group">
          <label>Your email {{ email }}</label>
          <input name="email" type="email" ng-model="email" required class="form-control">
          <div ng-messages="resetForm.email.$error" class="errorMsg">
            <p ng-message="email">A valid email is required</p>
            <p ng-message="required">A valid email is required</p>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </form>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>