
<div ng-click="play(ngModel)" class="nprLink row"><span class="name large-8 columns">
    <button class="btn playButton">play</button>
    <div class="row">{{ ngModel.title.$text }}</div>
    <div class="row">
      <div class="small-2 columns"><a href="{{ ngModel.link[0].$text }}"></a></div>
    </div></span></div>