
<div ng-controller="SetPriceController">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">Price Alert</div>
    </div>
    <div class="panel-body">
      <p>Hourly rates too high? Set your preferred price so we can better serve you!</p>
      <form name="setprice" ng-submit="set(setprice.$valid)" novalidate="novalidate">
        <div class="form-group">
          <input name="price" ng-model="price" type="number" style="width:100px" min="5" max="50" required="required" class="form-control"/>
          <div ng-messages="setprice.price.$error">
            <p ng-message="number">Only numbers are accepted.</p>
            <p ng-message="min">A price more than $5/hr is required.</p>
            <p ng-message="max">A price less than $50/hr is required.</p>
          </div>
        </div>
        <button class="btn btn-default">Set preferred price >></button>
        <p ng-show="priceConfirm == true">Price saved!</p><br/><br/>
      </form>
    </div>
  </div>
</div>