
<nav class="navbar">
  <div ng-controller="LoginController" ng-cloak="ng-cloak" class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#topMenu" aria-expanded="false" class="btn-default navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span>Login/Logout</button><a ui-sref="/"><img id="logo" src="../img/afteryou_logo@2x.png"/></a>
    </div>
    <div id="topMenu" class="collapse navbar-collapse">
      <div ng-show="sessionUser == null">
        <form class="navbar-form navbar-right">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <input type="text" placeholder="Email" ng-model="email" class="form-control"/>
              </div>
              <div class="form-group">   
                <div class="row">
                  <div class="col-sm-12">
                    <input type="password" placeholder="Password" ng-model="password" class="form-control"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div style="margin-top:3px;" class="forget-password small"><a href="/forgetpassword.html">Forget password</a></div>
                  </div>
                </div>
              </div>
              <button ng-click="logIn()" class="btn btn-success">Log In</button>
            </div>
          </div>
        </form>
      </div>
      <div ng-show="sessionUser">
        <ul class="nav navbar-nav navbar-right">
          <li><a ui-sref="myProfile">My Profile</a></li>
          <li><a ui-sref="sellerList">Find A Helper</a></li>
        </ul>
        <button ng-click="logOut()" class="btn btn-default navbar-btn navbar-right">Log Out</button>
      </div>
    </div>
  </div>
</nav>