.row
  .card
    .cardbody
      label 大家都付多少錢？
      h4.accent(style='margin-top:-2px;') {{ marketPrice | currency}} / 小時
      button.btn.btn-sm.btn-default(type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter") 搜索條件
      button.btn.btn-sm.btn-default(ng-click="goToAnchor('setPrice')") 價格提醒
      .collapse#collapseFilter
        hr
        .form-group
          label 選擇服務
          .checkbox
            label
              input(name='tasks', type='checkbox', ng-model="filter.tasks.h_cleaning", ng-change='shuffle(sellers, false);') 
              |深層清潔
          .checkbox
            label
              input(name='tasks', type='checkbox', ng-model="filter.tasks.l_cleaning", ng-change='shuffle(sellers, false);') 
              |表層清潔
          .checkbox
            label
              input(name='tasks', type='checkbox', ng-model="filter.tasks.wash_dry", ng-change='shuffle(sellers, false);')
              |洗晾衣物
          .checkbox
            label
              input(name='tasks', type='checkbox', ng-model="filter.tasks.ironing", ng-change='shuffle(sellers, false);')
              |熨燙衣物
          .checkbox
            label
              input(name='tasks', type='checkbox', ng-model="filter.tasks.meal_prep", ng-change='shuffle(sellers, false);')
              |煮食備餐
          .checkbox
            label
              input(name='tasks', type='checkbox', ng-model="filter.tasks.babysitting", ng-change='shuffle(sellers, false);')
              |保姆陪月
        .form-group
          label 選擇價格 {{ filter.price }}
          .radio
            label
              input(type='radio', ng-model='filter.price', value="10.01")
              | $50 / 小時 以內
          .radio
            label
              input(type='radio', ng-model='filter.price', value="13.01")
              | $70 / 小時 以內
          .radio
            label
              input(type='radio', ng-model='filter.price', value="16.01")
              | $90 / 小時 以內
          .radio
            label
              input(type='radio', ng-model='filter.price', value="20.01")
              | $110 / 小時 以內
        .form-group
          label 我的收藏
          .checkbox
            label 
              input(type='checkbox', ng-model='filter.fav')
              | 只顯示我的收藏
        .form-group
          button.btn.btn-default(ng-click='clearFilters();') 清除篩選
