section(ng-controller="ForgetPasswordController")
  .container
    h2 忘記密碼？
    p 請輸入您在本網站註冊的電郵地址，我們將發送密碼重設鏈接至您的電子信箱。
    form(name="resetForm", ng-submit="submitForm(resetForm.$valid)", novalidate)
      .form-group
        label 您的電郵
        input(name='email', type='email', ng-model="email", required).form-control
        div(ng-messages='resetForm.email.$error').errorMsg
          p(ng-message='email') 請輸入正確的電郵地址
          p(ng-message='required') 請輸入您的電郵地址
        button.btn.btn-default(type='submit') 發送
