section.sellerlist(ng-controller="LoginController")
  .container
    .col-sm-6.col-sm-push-3
      h1 登入
      form
        .form-group
          label 電郵
          input.form-control(type='text', placeholder='Email', ng-model='email')
        .form-group    
          label 密碼
          input.form-control(type='password', placeholder='********', ng-model='password')
        .forget-password.small(style='margin-top:3px;')
        button.btn.btn-success(ng-click='logIn()') 登入
        button.btn.btn-default(ui-sref='forgetPassword') 忘記密碼
      hr
      p 您是新用戶？ 
      a(ui-sref='/') << 請先開始搜尋您需要的家務助理
include altfooter.jade
