.container(ng-controller='MessagesController')
  br
  .row
    .col-sm-4
      ul.nav.nav-pills.nav-stacked
        li.active
          a(href='') All messages
      
    .col-sm-8
      p.text-muted No new messages.
      .alert.alert-warning Chat service is temporarily down due to high demand. We will attempt to get you connected to the helper directly!
