section(ng-controller="MyProfileController")
  .container
    h2 用戶資料
    p 請確保以下資訊的準確性，以便於您與家務助理溝通。
    form(name="userForm", ng-submit="submitForm(userForm.$valid)", novalidate)
      .form-group
        label 您的姓名
        input(name='name', type='text', ng-model="sessionUser.name", required).form-control
        div(ng-messages='userForm.name.$error').errorMsg
          p(ng-message='required') 請輸入您的姓名
      .form-group
        label 您的電郵
        input(name='email', type='email', ng-model="sessionUser.email", required).form-control
        div(ng-messages='userForm.email.$error').errorMsg
          p(ng-message='email') 請輸入有效的電郵格式
          p(ng-message='required') 請輸入您的電郵
      .form-group
        label 電話號碼
        input(name='phone', type='number', ng-model="sessionUser.phone", required).form-control
        div(ng-messages='userForm.phone.$error').errorMsg
          p(ng-message='required') 請輸入您的電話號碼
      .form-group
        label 您的郵遞區號
        input(name="postal", type='number', ng-model="sessionUser.postal_code", required).form-control
        div(ng-messages='userForm.postal.$error').errorMsg
          p(ng-message='required') 請輸入您的郵遞區號
    p
      b 更新資料
    p 系統升級中。請發電郵到 
      a(href='mailto:sayhello@afteryou.co') sayhello@afteryou.co
      |  以更新您的個人資料。
    h3 重設密碼
    a(ui-sref='forgetPassword').btn.btn-default 點擊此處重設密碼 >>
include altfooter.jade
