section.sellerlist(ng-controller="PendingController")
  .container
    h3 您的待處理預約
    table.table.table-condensed
      thead
        tr 
          th 家務助理姓名
          th 申請日期
          th 狀態
      tbody
        tr(ng-repeat="m in matches") 
          td {{ m.seller.get("name") }} 
          td {{ m.createdAt | date:"dd MMM 'at' hh:mm a" : '+0800'}} 
          td {{ m.status}}

include altfooter.jade
