.modal-header
  h3 | Find Helper 搜尋家務助理
.modal-body
  form(name="searchForm", ng-submit="submitSearch(searchForm.$valid)", novalidate)
    .form-group
      label What tasks do you need | 您需要家務助理提供哪些服務？
      .checkbox
        label
          input(name='tasks', type='checkbox', ng-model="tasks.h_cleaning", ng-required="!tasks") 
          | Labourous cleaning | 深層清潔 (拖地, 擦洗, 窗戶清洗)
      .checkbox
        label
          input(name='tasks', type='checkbox', ng-model="tasks.l_cleaning", ng-required="!tasks") 
          | Light cleaning | 表層清潔 (除塵，抹拭)
      .checkbox
        label
          input(name='tasks', type='checkbox', ng-model="tasks.wash_dry", ng-required="!tasks")
          | Laundry | 洗晾衣物
      .checkbox
        label
          input(name='tasks', type='checkbox', ng-model="tasks.ironing", ng-required="!tasks")
          | Ironing | 熨燙衣物
      .checkbox
        label
          input(name='tasks', type='checkbox', ng-model="tasks.meal_prep", ng-required="!tasks")
          | Cooking | 煮食備餐 
      .checkbox
        label
          input(name='tasks', type='checkbox', ng-model="tasks.babysitting", ng-required="!tasks")
          | Babysitting | 保姆
      div(ng-messages='searchForm.tasks.$error').errorMsg
        p(ng-message='required') Choose one please
    .form-group
      label (Optional) Additional notes |（可選） 請輸入您需要的其他服務
      tags-input(ng-model='additionaltasks', display-property="name", placeholder="輸入後請按回車鍵以添加一項服務", replace-spaces-with-dashes="false")
    .form-group(ng-show='sessionUser==null')
      label Where is your location? | 您需要家務助理在哪裏工作？
      .panel-group(id='accordion',role='tablist',aria-multiselectable='true')
            .panel.panel-default
              .panel-heading(role='tab',id='headingOne')
                h6.panel-title
                  a.collapsed(role='button',data-toggle='collapse',data-parent='#accordion',href='#collapseOne',aria-expanded='false',aria-controls='collapseOne') 新界 New Territories
              .panel-collapse.collapse(role='tabpanel',id='collapseOne', aria-labelledby='headingOne')
                .panel-body
                  .radio
                    label(for='loc-0')
                      input#loc-0(name='loc', type='radio', ng-model='location', value='north') 
                      |北區 North
                  .radio
                    label(for='loc-1') 
                      input#loc-1(name='loc', type='radio', ng-model='location', value='yuenlong')
                      |元朗區 Yuen Long
                  .radio
                    label(for='loc-2') 
                      input#loc-2(name='loc', type='radio', ng-model='location', value='tuenmun')
                      |屯門區 Tuen Mun
                  .radio
                    label(for='loc-3')
                      input#loc-3(name='loc', type='radio', ng-model='location', value='tsuenwan') 
                      |荃灣區 Tsuen Wan
                  .radio
                    label(for='loc-4') 
                      input#loc-4(name='loc', type='radio', ng-model='location', value='kwaitsing')
                      |葵青區 Kwai Tsing
                  .radio
                    label(for='loc-5')
                      input#loc-5(name='loc', type='radio', ng-model='location', value='shatin')
                      |沙田區 Sha Tin
                  .radio
                    label(for='loc-6')
                      input#loc-6(name='loc', type='radio', ng-model='location', value='taipo')
                      |大埔區 Tai Po
                  .radio
                    label(for='loc-7')
                      input#loc-7(name='loc', type='radio', ng-model='location', value='saikung')
                      |西貢區 Sai Kung
                  .radio
                    label(for='loc-8')
                      input#loc-8(name='loc', type='radio', ng-model='location', value='islands')
                      |離島區 Islands
            .panel.panel-default
              .panel-heading(role='tab',id='headingTwo')
                h6.panel-title
                  a.collapsed(role='button',data-toggle='collapse',data-parent='#accordion',href='#collapseTwo',aria-expanded='false',aria-controls='collapseTwo') 九龍 Kowloon
              .panel-collapse.collapse(role='tabpanel',id='collapseTwo', aria-labelledby='headingTwo')
                .panel-body
                  .radio
                    label(for='loc-9')
                      input#loc-9(name='loc', type='radio', ng-model='location', value='shamshuipo')
                      |深水埗區 Sham Shui Po
                  .radio
                    label(for='loc-10')
                      input#loc-10(name='loc', type='radio', ng-model='location', value='wongtaisin')
                      |黃大仙區 Wong Tai Sin
                  .radio
                    label(for='loc-11')
                      input#loc-11(name='loc', type='radio', ng-model='location', value='kowlooncity')
                      |九龍城區 Kowloon City
                  .radio
                    label(for='loc-12')
                      input#loc-12(name='loc', type='radio', ng-model='location', value='kwuntong')
                      |觀塘區 Kwun Tong
                  .radio
                    label(for='loc-13')
                      input#loc-13(name='loc', type='radio', ng-model='location',value='yautsimmong')
                      |油尖旺區 Yau Tsim Mong

            .panel.panel-default
              .panel-heading(role='tab',id='headingThree')
                h6.panel-title
                  a.collapsed(role='button',data-toggle='collapse',data-parent='#accordion',href='#collapseThree',aria-expanded='false',aria-controls='collapseThree') 香港島 Hong Kong Island
              .panel-collapse.collapse(role='tabpanel',id='collapseThree', aria-labelledby='headingThree')
                .panel-body
                  .radio
                    label(for='loc-14')
                      input#loc-14(name='loc', type='radio', ng-model='location', value='centralnwestern')
                      |中西區 Central & Western
                  .radio
                    label(for='loc-15')
                      input#loc-15(name='loc', type='radio', ng-model='location', value='wanchai')
                      |灣仔區 Wan Chai
                  .radio
                    label(for='loc-16')
                      input#loc-16(name='loc', type='radio', ng-model='location', value='eastern')
                      |東區 Eastern
                  .radio
                    label(for='loc-17')
                      input#loc-17(name='loc', type='radio', ng-model='location', value='southern')
                      |南區 Southern
    .alert.alert-warning(ng-show='errorMsg') {{ errorMsg }}
    .row
      .col-sm-12
        button.btn.btn-default.pull-left(ng-click='cancel();') Cancel | 關閉
        button.btn.btn-success.pull-right(type='submit') Find Now | 搜尋
