block title
  title 註冊成功！我們的客服人員會很快與您聯絡！
block content
  section
    .container(style="min-height:80vh;")
      .text-center
        br
        br
        h1 註冊成功！
        br
        h3 我們的客服人員將在24小時內與您聯絡以覆核您的個人資料，幫助您正式成為一名家務助理！
        br
        button(ui-sref='/').btn.btn-default 首頁 >>