section.sellerlist(ng-controller="SellerListController")
    //- Display seller list
    .container
      .row
        //- Filter widget
        .col-md-3(ng-hide='sessionUser == null')
          include filters.jade
        .col-md-9(ng-show="sessionUser == null")
          include signup.jade
        .col-md-9(ng-show="sessionUser")#top
            //-  Can see list if is user
            div(ng-show="sellers == null")
              br
              img(src='../img/ajax_loader_gray.gif', style='width:60px;margin-left: auto;margin-right: auto;display: block;')
              br
              .col-xs-10.col-xs-push-1
                h3.text-center 正在為您生成家務助理列表，請您耐心等候⋯⋯
            h3.text-center(ng-show=' (sellers | filterTasksAnd:filter.tasks | filterPrice:filter.price | filterLocation:sessionUser.location | filterFaved:filter.fav).length == 0 && sellers') 目前沒有符合您需求的家務助理，請您更改搜尋條件⋯⋯
              br
            .list-group
              a.list-group-item(ng-repeat='seller in sellers | filterTasksAnd:filter.tasks | filterPrice:filter.price | filterLocation:sessionUser.location | filterFaved:filter.fav | limitTo:3', ui-sref='sellerDetail({sellerId: seller.id})', target="_blank")
                .media
                  .media-left
                    img.media-object.profilepic(src='../img/m-profile.png', ng-show='seller.gender == "Male"')
                    img.media-object.profilepic(src='../img/f-profile.png', ng-show='seller.gender == "Female"')
                  .media-body
                    .media-heading
                      h4.profilename.accent {{ seller.name }}
                      .small
                        .text-muted {{ seller.gender }},  {{ seller.age }} 歲
                        .text-muted {{seller.nationality}}                      
                  .media-right
                    p {{seller.price|currency}} /小時
                .media
                  .media-body
                    .small.text-muted 技能
                    p {{seller.tasks | translateTaskNames | flattenTasks }} 
                    .label.label-success(ng-show="seller.verified == true") 已驗證
                    .label.label-info(ng-show="seller.faved == true") 已收藏
                    .label.label-danger(ng-show="seller.currentRequestCount >= 4") 搶手助理
                    .label.label-warning(ng-show="seller.unresponsiveCount >= 1") 回復慢
                .media
                  p.text-muted {{ seller.sellerNotes | characters:100 }}
                  button.btn.btn-default(ui-sref='sellerDetail({sellerId: seller.id})', target="_blank") 查看詳情 >>
                          
            button.btn.btn-info(ng-click="shuffle(sellers, true);", ng-hide='sellers == null').pull-right 更多家務助理 >>
      hr

include altfooter.jade
