.container(ng-controller="SellerFormController")
	h1.text-center Be Home helper | 註冊成為家务助理
	h5.text-center Home helper jobs (weekday, weekend, adhoc, weekly...) | 家務助理工作 (星期一至五, 星期六／日, 臨時工, 每週一次⋯⋯)
	br
	.col-sm-6.col-sm-push-3
		.highlight
			form(name='sellerForm',ng-submit='submitSellerForm(sellerForm.$valid)',novalidate)
				h3 Basic info | 基本信息
				div(ng-class="{'has-success':sellerForm.name.$valid}").form-group
					label Name | 您的姓名
					input(name='name',type='text',ng-model='seller.name',required).form-control
					div(ng-messages='sellerForm.name.$error',ng-show='sellerForm.name.$touched').errorMsg
						p(ng-message='required') Please enter name | 請輸入您的姓名
				div(ng-class="{'has-success':sellerForm.phone.$valid}").form-group
					label Phone | 您的電話號碼
					input(name='phone',type='number',ng-model='seller.phone',required).form-control
					div(ng-messages='sellerForm.phone.$error',ng-show='sellerForm.phone.$touched').errorMsg
						p(ng-message='required')  Required for communication | 請輸入您的電話號碼以便我們與您聯絡
						p(ng-message='number')  Required for communication | 請輸入正確的電話號碼
				div(ng-class="{'has-success':sellerForm.year.$valid}",required).form-group
					label Year of birth | 您的出生年份
					select(name='year',ng-model='seller.year',ng-options='n for n in [] | range:1940:2010',required).form-control
				div(ng-class="{'has-success':sellerForm.nationality.$valid}").form-group
					label Nationality | 您的身份
					select(name='nationality',ng-model='seller.nationality',required).form-control
						option(value='local') Hong Kong Citizen | 香港公民
						option(value='pr') Permanent Resident | 香港永久居民
						option(value='foreigner') Foreigner | 其他  
				div(ng-class="{'has-success':sellerForm.gender.$valid}").form-group
					label Gender | 您的性別
					select(name='gender',ng-model='seller.gender',required).form-control
						option(value='male') Male | 男
						option(value='female') Female | 女
				div(ng-class="{'has-success':sellerForm.ic.$valid}").form-group
					label Identification number | 您的身份證號碼
					input(name='ic',ng-model='seller.ic',type='text',required).form-control
					div(ng-messages='sellerForm.ic.$error',ng-show='sellerForm.ic.$touched').errorMsg
						p(ng-message='required') Please enter correct identification | 請您輸入正確的身份證號碼
				
				hr
				h3 Jobs you can do | 工作信息

				div(ng-class="{'has-success':sellerForm.price.$valid}").form-group
					label Preferred hourly pay | 您的理想時薪
					.input-group(style='max-width:300px;')
						span.input-group-addon HK$
						input(name='price',ng-model='seller.price',type='number',required).form-control
						span.input-group-addon Hr | 每小時
					div(ng-messages='sellerForm.price.$error',ng-show='sellerForm.price.$touched').errorMsg
						p(ng-message='required') Average | 平均時薪為 HK$70 - HK$120
						p(ng-message='number') Please enter number | 請輸入正確的數字

				div(ng-class="{'has-success':sellerForm.tasks.$valid}").form-group#taskGroup
					label Tasks you can do | 您掌握的技能
					.checkbox
						label(for='task-0')
							input#task-0(name='tasks', type='checkbox', ng-required="!tasks",ng-model='tasks.l_cleaning') 
							| Light cleaning (dusting, wiping) | 表層清潔 (除塵，抹拭)
					.checkbox
						label(for='task-1')
							input#task-1(name='tasks', type='checkbox', ng-required="!tasks",ng-model='tasks.h_cleaning') 
							| Heavy cleaning (scrubbing, mopping, vacuuming)| 深層清潔 (拖地, 擦洗, 窗戶清洗)
					.checkbox
						label(for='task-2') 
							input#task-2(name='tasks', type='checkbox', ng-required="!tasks",ng-model='tasks.wash_dry')
							| Laundry | 洗晾衣物
					.checkbox
						label(for='task-3')
							input#task-3(name='tasks', type='checkbox', ng-required="!tasks",ng-model='tasks.ironing')
							| Ironing clothes | 熨燙衣物
					.checkbox
						label(for='task-4')
							input#task-4(name='tasks', type='checkbox', ng-required="!tasks",ng-model='tasks.grocery')
							| Grocery shopping | 超市代購
					.checkbox
						label(for='task-5')
							input#task-5(name='tasks', type='checkbox', ng-required="!tasks",ng-model='tasks.babysitting')
							| Babysitting | 保姆工作
					.checkbox
						label(for='task-6') 
							input#task-6(name='tasks', type='checkbox', ng-required="!tasks",ng-model='tasks.petsitting')
							| Petsitting | 寵物保姆
					.checkbox
						label(for='task-7') 
							input#task-7(name='tasks', type='checkbox', ng-required="!tasks",ng-model='tasks.declutter')
							| Declutter house | 收納簡化
					.checkbox
						label(for='task-8') 
							input#task-8(name='tasks', type='checkbox', ng-required="!tasks",ng-model='tasks.meal_prep')
							| Cooking | 煮食備餐
					.checkbox
						label(for='task-9') 
							input#task-9(name='tasks', type='checkbox', ng-required="!tasks",ng-model='tasks.eldercare')
							| Eldercare | 長者服務  
					div(ng-messages='sellerForm.tasks.$error').errorMsg
						p(ng-message='required') Choose at least one | 請選擇至少一項工作
				div(ng-class="{'has-success':sellerForm.loc.$valid}").form-group#locationGroup
					label Where you can work | 您偏好的工作地區

					.panel-group(id='accordion',role='tablist',aria-multiselectable='true')
						.panel.panel-default
							.panel-heading(role='tab',id='headingOne')
								h6.panel-title
									a.collapsed(role='button',data-toggle='collapse',data-parent='#accordion',href='#collapseOne',aria-expanded='false',aria-controls='collapseOne') 新界 New Territories
							.panel-collapse.collapse(role='tabpanel',id='collapseOne', aria-labelledby='headingOne')
								.panel-body
									.checkbox
										label(for='loc-0')
											input#loc-0(name='loc', type='checkbox', ng-required="!location",ng-model='location.north') 
											|北區 North
									.checkbox
										label(for='loc-1') 
											input#loc-1(name='loc', type='checkbox', ng-required="!location",ng-model='location.yuenlong')
											|元朗區 Yuen Long
									.checkbox
										label(for='loc-2') 
											input#loc-2(name='，loc', type='checkbox', ng-required="!location",ng-model='location.tuenmun')
											|屯門區 Tuen Mun
									.checkbox
										label(for='loc-3')
											input#loc-3(name='loc', type='checkbox', ng-required="!location",ng-model='location.tsuenwan') 
											|荃灣區 Tsuen Wan
									.checkbox
										label(for='loc-4') 
											input#loc-4(name='loc', type='checkbox', ng-required="!location",ng-model='location.kwaitsing')
											|葵青區 Kwai Tsing
									.checkbox
										label(for='loc-5')
											input#loc-5(name='loc', type='checkbox', ng-required="!location",ng-model='location.shatin')
											|沙田區 Sha Tin
									.checkbox
										label(for='loc-6')
											input#loc-6(name='loc', type='checkbox', ng-required="!location",ng-model='location.taipo')
											|大埔區 Tai Po
									.checkbox
										label(for='loc-7')
											input#loc-7(name='loc', type='checkbox', ng-required="!location",ng-model='location.saikung')
											|西貢區 Sai Kung
									.checkbox
										label(for='loc-8')
											input#loc-8(name='loc', type='checkbox', ng-required="!location",ng-model='location.islands')
											|離島區 Islands
						.panel.panel-default
							.panel-heading(role='tab',id='headingTwo')
								h6.panel-title
									a.collapsed(role='button',data-toggle='collapse',data-parent='#accordion',href='#collapseTwo',aria-expanded='false',aria-controls='collapseTwo') 九龍 Kowloon
							.panel-collapse.collapse(role='tabpanel',id='collapseTwo', aria-labelledby='headingTwo')
								.panel-body
									.checkbox
										label(for='loc-9')
											input#loc-9(name='loc', type='checkbox', ng-required="!location",ng-model='location.shamshuipo')
											|深水埗區 Sham Shui Po
									.checkbox
										label(for='loc-10')
											input#loc-10(name='loc', type='checkbox', ng-required="!location",ng-model='location.wongtaisin')
											|黃大仙區 Wong Tai Sin
									.checkbox
										label(for='loc-11')
											input#loc-11(name='loc', type='checkbox', ng-required="!location",ng-model='location.kowlooncity')
											|九龍城區 Kowloon City
									.checkbox
										label(for='loc-12')
											input#loc-12(name='loc', type='checkbox', ng-required="!location",ng-model='location.kwuntong')
											|觀塘區 Kwun Tong
									.checkbox
										label(for='loc-13')
											input#loc-13(name='loc', type='checkbox', ng-required="!location",ng-model='location.yautsimmong')
											|油尖旺區 Yau Tsim Mong

						.panel.panel-default
							.panel-heading(role='tab',id='headingThree')
								h6.panel-title
									a.collapsed(role='button',data-toggle='collapse',data-parent='#accordion',href='#collapseThree',aria-expanded='false',aria-controls='collapseThree') 香港島 Hong Kong Island
							.panel-collapse.collapse(role='tabpanel',id='collapseThree', aria-labelledby='headingThree')
								.panel-body
									.checkbox
										label(for='loc-14')
											input#loc-14(name='loc', type='checkbox', ng-required="!location",ng-model='location.centralnwestern')
											|中西區 Central & Western
									.checkbox
										label(for='loc-15')
											input#loc-15(name='loc', type='checkbox', ng-required="!location",ng-model='location.wanchai')
											|灣仔區 Wan Chai
									.checkbox
										label(for='loc-16')
											input#loc-16(name='loc', type='checkbox', ng-required="!location",ng-model='location.eastern')
											|東區 Eastern
									.checkbox
										label(for='loc-17')
											input#loc-17(name='loc', type='checkbox', ng-required="!location",ng-model='location.southern')
											|南區 Southern


					div(ng-messages='sellerForm.loc.$error').errorMsg
						p(ng-message='required') 請選擇至少一個地區
				div(ng-class="{'has-success':sellerForm.commission.$valid}").form-group
					label Commission structure | 平台服務費
					br
					| By agreeing, you allow AfterYou to collect a one-time HK$300 commission from you for confirmed and completed jobs per house. | 您如同意該條例，AfterYou將向您收取共 HK$300/僱主 的平台服務費
					h6 其中包括: 
					| Complete 1st session, $25 commission | 您為該僱主提供第一次服務後，AfterYou將從中收取 HK$25。
					br
					|  Complete 4th session, $275 commission | 如您為該僱主提供服務達到四次，AfterYou將在第四次服務後另外收取 HK$275。
					.checkbox
						label(for='commission')
							input#commission(name="commission", type='checkbox',required, ng-model='commission') 
							| I agree | 我同意以上條例
						div(ng-messages='sellerForm.commission.$error').errorMsg
							p(ng-message='required') You must agree | 您必須同意以上條例以使用AfterYou的產品和服務
				div(ng-class="{'has-success':sellerForm.agree.$valid}").form-group
					label Personal Data protection | 收集個人資料聲明
					p.small  By agreeing, you allow AfterYou to collect, use and disclose your personal data, as provided in this query form for the following purposes (a) the processing of this query; (b) future marketing related to our services. | 如您同意該條例，AfterYou將收集您的個人信息並可能用於為您提供服務，以及進行相關的宣傳工作。
					.checkbox
						label(for='agree')
							input#agree(name="agree", type='checkbox',required, ng-model='pcpd') 
							| I agree | 我同意以上條例
						div(ng-messages='sellerForm.agree.$error').errorMsg
							p(ng-message='required') You must agree to proceed | 您必須同意以上條例以使用AfterYou的產品和服務

				button(type='submit').btn.btn-success Register | 註冊 >>
				br
				br
