section.sellerlist
  .container(ng-controller="SellerDetailController")
    .row
      .col-md-8
        .row
          .card
            .cardtop
              .row
                .col-xs-12
                  .media
                    .media-left
                      img.media-object.profilepic(src='../img/m-profile.png', ng-show='seller.gender == "Male"')
                      img.media-object.profilepic(src='../img/f-profile.png', ng-show='seller.gender == "Female"')
                    .media-body
                      .media-heading
                        h4.profilename {{ seller.name }}
                        .text-muted {{ seller.gender }},  {{ seller.age }} year old, {{seller.nationality}}
                        .text-muted Registered {{ seller.createdAt | timeago }}
                        .label.label-success(ng-show="seller.verified == true") 已驗證
                        .label.label-info(ng-show="seller.faved == true") 已收藏
                        .label.label-danger(ng-show="seller.currentRequestCount >= 4") 搶手助理
                        .label.label-warning(ng-show="seller.unresponsiveCount >= 1") 回復慢
                    .media-right
                      h5 {{ seller.price | currency}} /小時
            .cardbody
              .row
                .col-xs-12
                  .small.text-muted 技能
                  p {{seller.tasks | translateTaskNames | flattenTasks }} 
              .row
                .col-xs-12
                  .small.text-muted 助理簡介
                  p {{ seller.sellerNotes }}
              .row
                .col-xs-12
                  .small.text-muted 繳費政策
                  p 服務前繳費，標準退款政策。
              .row(ng-hide='seller.totalSessionCount==0 || seller.completion==0')
                .col-xs-6
                  .small.text-muted 已完成工作 {{seller.completion | number:0}}%
                  uib-progressbar(value="seller.completion")
                  //-  span.glyphicon.glyphicon-question-sign
              .row
                .col-xs-12
                  //- Favorite button
                  button.btn.btn-default.btn-sm(ng-hide="seller.faved == true", ng-click='saveSeller(seller);') 加入收藏夾
      .col-md-4
            p.alert.alert-success(ng-show='seller.offerCompleted==true') 您的申請已提交！ 如果 {{seller.name}} 接受了您的出價，將盡快與您聯絡。您可以選擇更多的家務助理，以從中揀選最啱心水的一個！ 
            div(ng-show='seller.offerCompleted!=true')
              form.setOffer(name="offerPriceForm", ng-submit="offerPriceFunction(offerPriceForm.$valid, seller,expectedDate, requestNotes)", ng-hide="seller.offerToHire == true")
                h3 聯絡 {{ seller.name }}
                label.text-fade 您的出價
                .input-group(style='max-width:300px;')
                  span.input-group-addon $
                  input(name="price", ng-model="seller.offerPrice", type='number', placeholder='{{marketPrice}}', required).form-control
                  span.input-group-addon ／小時
                div(ng-messages='offerPriceForm.price.$error')
                  p(ng-message='number').small 請輸入有效的數字
                  p(ng-message='required').small 請輸入您的報價以聯絡 {{ seller.name }}
                .form-group
                  label 您需要家務助理工作的日期  ({{ expectedDate | date:"dd MMM" : '+0800'}})
                  uib-datepicker(ng-model="expectedDate", show-weeks="false", custom-class="getDayClass(date, mode)", required)
                .form-group
                  label 給家務助理的留言
                  textarea.form-control(ng-model='requestNotes')
                button.btn.btn-success(type="submit") 聯絡{{ seller.name }}
        
include altfooter.jade
