section.sellerlist(ng-controller="TransactionsController")
  .container
    .row
      .col-sm-6
        h3 Link a credit card
          a(href='http://stripe.com', target='_blank')
            img(src='../img/outline-dark@2x.png', style='width: 130px; padding-left: 10px; padding-bottom:5px;')

        div(ng-show='sessionUser.hasCard')
          p Card Brand : {{ cardDetails.brand }} 
          p Last 4 Digits : {{ cardDetails.last4 }} 
          p Fund Type : {{ cardDetails.funding }}
          button.btn.btn-sm.btn-warning(ng-click='removeCard();') Unlink credit card
        div(ng-hide='sessionUser.hasCard')
          p Link a credit or debit card now to make payment.
            br
            a(href='http://afteryou.helpscoutdocs.com/article/24-how-do-you-handle-my-credit-card-details', target='_blank').small How do you handle my card details?
          .small Supported cards:
          img(src='../img/supported_cards.png', style='width: 250px; padding-bottom:5px;')
          br
          form
            .form-group
              label Card number
              input(name='card', placeholder='Number with no spaces', ng-model='cardNumber').form-control
            .row
              .col-xs-4
                .form-group
                  label Year of expiry
                  input(name='year', placeholder='YYYY', ng-model='cardYear', type='number').form-control
              .col-xs-4
                .form-group
                  label Month of expiry
                  input(name='month', placeholder='MM', ng-model='cardMonth', type='number').form-control
              .col-xs-4
                .form-group
                  label CVC number
                  input(name='ccv', placeholder='3 digits', ng-model='cardCVC', type='number').form-control
          button.btn.btn-success(ng-click='addCard();') Add a card
          br
      .col-sm-6
        h3 Pre-paid Account
        p Current Value: {{ privateData.walletAmount | currency}}
        button.btn.btn-default Top Up Account
    .row
      .col-sm-6
        h3 Unpaid jobs
        p(ng-hide='unpaidSessions > 0') There are no jobs pending payment yet.
        .list-group
          .list-group-item(ng-repeat="j in jobs | filterByPaymentId")
            .row
              .col-xs-7
                h3 {{ j.seller.name }}
                .row
                  .col-sm-4
                    label Job date
                  .col-sm-8  
                    p {{ j.jobDate | date:"dd MMM yyyy" : '+0800'}} 
              .col-xs-5
                h3 {{ j.fee*j.duration | currency }}
                .small  {{ j.fee | currency }} X {{ j.duration }} hr
                button.btn.btn-success.btn-sm(ng-click='paynow(j);', ng-hide="j.paymentId") Pay now
            .alert.alert-warning(ng-show='j.alert==true') Processing your payment now. Please wait...
      .col-sm-6
        h3 Payment history
        p(ng-hide='jobs.length > 0') You haven't made any payments before.
        .list-group
          .list-group-item(ng-repeat="j in jobs")
            .row
              .col-xs-7
                h3 {{ j.seller.name }}
                .row
                  .col-sm-4
                    label Job date
                  .col-sm-8  
                    p {{ j.jobDate | date:"dd MMM yyyy" : '+0800'}} 
                .row
                  .col-sm-4
                    label Paid on
                  .col-sm-8  
                    p {{ j.paymentDate | date:"dd MMM 'at' hh:mm a" : '+0800'}} 
                .row.small
                  .col-sm-4
                    label Payment Id
                  .col-sm-8  
                    p {{ j.paymentId }} 
              .col-xs-5
                h3 {{ j.fee*j.duration | currency }}
                .small  {{ j.fee | currency }} X {{ j.duration }} hr
                .label.label-success(ng-show='j.paymentId') Paid

include altfooter.jade

      
    
