.container(ng-controller="BuyerFormController")
  .text-center
    .jumbotron(style='background:none')
      h1 Find freelance domestic helpers near you!
      h3 Free-to-use platform to hire helpers at your price and terms.
      p 148 local freelance domestic helpers available now!
      br
  .col-sm-8.col-sm-offset-2
    .panel.panel-primary
      .panel-heading
        .panel-title Start exploring the list now!
      .panel-body
        form(name="userForm", ng-submit="submitForm(userForm.$valid)", novalidate)
          .form-group
            label Your name
            input(name='name', type='text', ng-model="buyer.name", required).form-control
            div(ng-messages='userForm.name.$error').errorMsg
              p(ng-message='required') A name is required
          .form-group
            label Your email
            input(name='email', type='email', ng-model="buyer.email", required).form-control
            div(ng-messages='userForm.email.$error').errorMsg
              p(ng-message='email') An email is required
              p(ng-message='required') An email is required
          .form-group
            label Enter a password
            input(name='pin', type='password', ng-model="buyer.pin", required).form-control
            div(ng-messages='userForm.pin.$error').errorMsg
              p(ng-message='required') A password is required
          .form-group
            label Mobile phone number
            input(name='phone', type='number', ng-model="buyer.phone", required, min=80000000, max=99999999).form-control
            div(ng-messages='userForm.phone.$error').errorMsg
              p(ng-message='required') A valid mobile phone number is required
              p(ng-message='max') A valid mobile phone number is required
              p(ng-message='min') A valid mobile phone number is required
          .form-group
            label Where you need the helper (Postal code)
            input(name="postal", type='number', ng-model="buyer.postal_code", required, max=999999).form-control
            div(ng-messages='userForm.postal.$error').errorMsg
              p(ng-message='required') A valid Singapore postal code is required
              p(ng-message='max') A valid Singapore postal code is required
                  
          .form-group
            label What you need the helper to do?
            .checkbox
              label
                input(name='tasks', type='checkbox', ng-model="buyer.tasks.cleaning", ng-required="!buyer.tasks") 
                |General cleaning (dusting and wiping)
            .checkbox
              label
                input(name='tasks', type='checkbox', ng-model="buyer.tasks.laundry", ng-required="!buyer.tasks")
                |Washing & drying of clothes
            .checkbox
              label
                input(name='tasks', type='checkbox', ng-model="buyer.tasks.ironing", ng-required="!buyer.tasks")
                |Ironing of clothes
            .checkbox
              label
                input(name='tasks', type='checkbox', ng-model="buyer.tasks.babysitting", ng-required="!buyer.tasks")
                |Babysitting
            div(ng-messages='userForm.tasks.$error').errorMsg
              p(ng-message='required') Please choose at least one
          
          .form-group
            label How often do you want a helper to show up
            .radio
              label
                input(name='frequency', ng-model="buyer.frequency", value='once', type='radio', ng-required="!buyer.frequency") 
                | One time
            .radio
              label
                input(name='frequency', ng-model="buyer.frequency", value='every_week', type='radio', ng-required="!buyer.frequency") 
                | Weekly
            .radio
              label
                input(name='frequency', ng-model="buyer.frequency", value='fortnightly', type='radio', ng-required="!buyer.frequency") 
                | Once every 2 weeks
            .radio
              label
                input(name='frequency', ng-model="buyer.frequency", value='monthly', type='radio', ng-required="!buyer.frequency") 
                | Monthly
            div(ng-messages='userForm.frequency.$error').errorMsg
              p(ng-message='required') Please select one
            
          .form-group
            label PDPA agreement
            p.small By agreeing, you allow AfterYou Pte. Ltd. to collect, use and disclose your personal data, as provided in this query form for the following purposes in accordance with the Personal Data Protection Act 2012: (a) the processing of this query; (b) future marketing related to our services.
            .checkbox
              label
                input(name="agree", type='checkbox', ng-model="buyer.pdpa", ng-required='!buyer.pdpa') 
                |I agree
              div(ng-messages='userForm.agree.$error').errorMsg
                p(ng-message='required') You must agree to proceed
                
          br
          button(type="submit").btn.btn-success Register & Search >>
          br
include footer.jade
