footer
  block footerMenu
    .container
     .row#footerMenu
       .col-sm-3
         h5 Find Freelance Helpers
         hr
         ul
           li 
             a(href="/") Log In
           li 
             a(href="/") Find A Helper Now
       .col-sm-3
         h5 Home Butler Services
         hr
         ul
           li 
             a(href="http://afteryou.co/butler.html") Learn More
           li 
             a(href="http://afteryou.co/faq.html") Frequent Questions
           li 
             a(href="http://afteryou.co/stories.html") Customer Stories

       .col-sm-3
         h5 AirBnb House Management
         hr
         ul
           li 
             a(href="http://afteryou.co/airbnb.html") Key Management and Cleaning
           li
             a(href="http://afteryou.co/airbnb.html") Pricing
       .col-sm-3
         h5 About Us
         hr
         ul
           li 
             a(href="http://afteryou.co/aboutus.html") About Us
           li 
             a(href="http://jobs.askthewhale.com") Job Opportunities
           li 
             a(href='mailto:sayhello@afteryou.co?subject=Contact Enquiry') Contact Us
     .row
       .col-sm-12
         .text-center    
           small
             br
             | &copy; 2016 AfterYou Pte. Ltd. | Made in Singapore.
             | 71 Ayer Rajah Crescent, Singapore 139951 |
             | Email: 
             a(href="mailto:sayhello@afteryou.co") sayhello@afteryou.co
             br
             br
